html {
  scroll-behavior: smooth;
}


html, body {
  width: 100%;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}


* {
  margin: 0%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;



  background:
    linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 12)),
    url("../public/images/main_background.avif");

  background-size: cover;
  background-position: center;
  z-index: -1;
  /* width: 100%; */

}

.navbar {
  display: flex;
  gap: 80px;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 70px;
}

.navbar button {
  color: rgba(252, 252, 252, 0.7);
  /* text-decoration: none; */
  font-size: 35px;
  background-color: transparent;
  border: none;


  font-weight: 1000;
  /* box-shadow: 0 8px 20px rgba(255, 51, 0.5); */
  height: 50px;
  width: 150px;
  text-align: center;
  /* border-bottom-left-radius: 30px;
      border-top-right-radius: 30px; */
  /* border-bottom: 4px solid rgba(184, 139, 4, 0.7); */
  /* padding-bottom: 10px; */

}

.navbar button:hover {
  color: black;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  margin-top: auto;
  color: bisque;
  font-size: 60px;
  text-align: right;
  padding-bottom: 100px;
  padding-right: 80px;
}

.m {
  font-size: 150px;
  color: bisque;
}
.collage{
  display: none;
}

.div1{
  height: 120vh;
   width: 110vh; 
  background-color:bisque;
  background-image: url("../public/images/budget_left.webp");
}
.div3{
    height: 120vh;
   width: 110vh; 
  background-color:rgb(228, 228, 227);
  background-image: url("../public/images/Budget_right.jpg");
}
.budget {
  display: flex;
}

.div2 {
  /* height: 120vh; */
  width: 250vh;
  background-color: rgb(248, 228, 204);
}

.pricing h1 {
  color: rgb(204, 113, 2);
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
}

.pricing p {

  font-family: "Momo Signature", cursive;
  font-weight: lighter;
  color: rgb(70, 70, 70);
  font-style: normal;
  text-align: center;
  font-size: 35px;
  position: sticky;
  margin-top: -40px;
}

.budget1 .a {
  height: 300px;
  /* width: 210px; */
  background-color: rgb(238, 167, 81);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-top: 60px;
  position: relative;
  border-left: 10px solid rgb(235, 176, 40);
  background-image: url("../public/images/Shoot_1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;



}

.budget1 .a.b {
  background-image: url("../public/images/shoot_2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.budget1 .a.c {
  background-image: url("../public/images/shoot_3.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -110px center;

}

.innera {
  height: 70px;
  width: 70px;
  background-color: rgb(250, 227, 134);
  border-radius: 50%;
  margin-left: 65px;
  bottom: -30px;
  position: absolute;
  color: rgb(108, 108, 108);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 8px solid rgb(215, 167, 45);
  border-style: double;
}

.text {
  margin-left: 10px;
  font-size: 20px;
  width: 250px;
  text-align: center;
  margin-top: 40px;
}

.budget-row {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.budget-item {
  text-align: center;
}

.budget-item h2 {
  margin-top: 35px;
}

.budget-item h2,
p {
  color: rgb(45, 45, 44);
}

.budget-item h3 {

  margin-top: 60px;
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
  font-size: 40px;


}

.budget-item #para {


  font-family: "Dancing Script", cursive;
  font-weight: lighter;
  font-size: 15px;


}


.contact-container {
  background-color: rgb(247, 215, 176);
  background-image: linear-gradient(rgb(247, 215, 176), rgb(236, 191, 137), rgb(247, 215, 176));
  /* height: 100vh; */
  /* width: 218.7vh; */
  /* padding-top: 100px; */
  /* background-repeat: no-repeat;
  background-size: contain; */
  /* padding-left: 20px; */
}



.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 images per row */
  grid-auto-rows: 280px;
  place-items: center;
  overflow: hidden
}

/* Make images responsive & clean */
.photo-grid img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.4s ease;
}

/* Photography-style hover effect */
.photo-grid img:hover {
  transform: scale(1.24);
  box-shadow: 2px 2px 20px rgb(227, 113, 52);
  z-index: 10;

}

.studio-marquee {
  background: linear-gradient(90deg, rgb(232, 126, 69), #ebd4a6, rgb(232, 126, 69));
  color: #3b2a1a;
  padding: 18px 0;
  font-size: 28px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;

  /* border-bottom-left-radius: 50px;
    border-top-left-radius: 50px; */

  /* margin: 30px 40px; */
  /* margin-left: 440px; */
  margin-top: 30px;
  /* border-style: groove; */

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  /* border: 4px solid rgba(255, 255, 255, 0.6); */
  /* border-style:inset; */
  letter-spacing: 1.5px;
}

.studio-marquee span {
  color: #8b1e1e;
  font-size: 32px;
  font-weight: 900;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}


/* Sidebar container */
.contact-sidebar {
  position: fixed;
  top: 0;
  right: -480px;
  width: 420px;
  height: 100vh;
  background-color: #222222;
  padding: 40px 30px;
  transition: right 0.4s ease-in-out;
  z-index: 2000;
  color: #f3efe6;
  font-family: "Segoe UI", sans-serif;

}


/* Open state */
.contact-sidebar.open {
  right: 0;
    overflow: hidden;

}

/* Close button */
.close-btn {
  position: absolute;
  top: 18px;
  right: 22px;
  font-size: 26px;
  cursor: pointer;
  color: #f3efe6;
}

/* Heading */
.contact-sidebar h2 {
  font-size: 28px;
  margin-bottom: 25px;
  border-bottom: 1px solid #3a3a3a;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

/* Form */
.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #cfc7b8;
  padding: 12px;
  margin-bottom: 18px;
  color: #fcfcfb;
  font-size: 14px;
  outline: none;
}



/* Button */
.contact-form button {
  width: 100%;
  padding: 5px;
  background-color: #f3efe6;
  /* cream */
  color: #0f0f0f;
  border: none;
  font-weight: bold;
  letter-spacing: 5px;
  cursor: pointer;
  font-size: 19px;
}

.contact-form button:hover {
  background-color: #6c6b69;
}

/* Studio info */
.studio-details p {

  font-size: 15px;
  color: #d2d1d1;
}

.studio-details {

  color: #fdfafa;
  margin-top: 30px;
}

.studio-details :nth-child(4) {

  color: #b1b0b0;
  /* font-family: "Momo Signature", cursive; */
  margin-top: 10px;
  font-size: 32px;
}

.studio-footer {
  width: 100%;
  /* height: 40vh; */
  background: linear-gradient(135deg, #0f0f0f, #2b2b2b);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* Main content */
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

/* Boxes */
.footer-box {
  min-width: 200px;
  margin: 10px;
}

/* Headings */
.footer-box h2,
.footer-box h3 {
  margin-bottom: 10px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

/* Text */
.footer-box p {
  font-size: 14px;
  margin: 6px 0;
  color: #e0e0e0;
}

/* Brand */
.brand h2 {
  font-size: 26px;
  font-weight: 600;
}

/* Social icons */
.social-icons span {
  font-size: 22px;
  margin-right: 14px;
  cursor: pointer;
  color: #ffffff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons span:hover {
  transform: scale(1.3);
  color: #bbbbbb;
}

/* Bottom bar */
.footer-bottom {
  text-align: center;
  padding: 10px;
  background: #000000;
  font-size: 13px;
  color: #bfbfbf;
}


@media (max-width: 768px) {
  *{
  box-sizing: border-box;
}

html, body{
  width: 100%;
  overflow-x: hidden;
}


  /* ===== GLOBAL MOBILE SAFETY ===== */
  html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
     
  }

  /* body {
    background-color: #8b1e1e;
    
  } */

  body::before {
    position: fixed;
    inset: 0;
    background:
      linear-gradient(rgba(2, 0, 0.5, 0.9),
      rgba(0, 0, 0, 0.12)),
      url("../public/images/main_background.avif");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-position: left;
  }

  /* ===== REMOVE SIDE BLOCKS ===== */

  .collage{
  display: block;
  display: flex;
  flex-direction: column;
   overflow-x: hidden;
   align-items: flex-end;
   gap: 20px;
   margin-top: 180px;
   margin-right: 20px;

  
}
.collage img{
  height: 150px;
  width: 150px;
  overflow-x: hidden;

  border-radius: 12px;

  /* Professional shadow */
  box-shadow: 0 8px 20px rgba(0,0,0,0.45);

  transition: 
    transform 0.4s ease,
    box-shadow 0.4s ease;
}



  .div1,
  .div3 {
    display: none;
  }

  .div2 {
    width: 100%;
    margin: 0;
  }

  /* ===== NAVBAR ===== */
  nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .navbar {
    justify-content: center;
    gap: 16px;
    margin: 0;
  }

  .navbar button {
    font-size: 16px;
    width: auto;
    height: auto;
    margin-top: 20px;
  }

  /* ===== LOGO ===== */
  .logo {
    text-align: center;
    font-size: 35px;
    margin: 20px 0 40px;
    padding: 0;
  }

  .m {
    font-size: 72px;
  }

  /* ===== PRICING HEADER ===== */
  .pricing.guid h1 {
    margin-top: 30px;
    font-size: 36px;
    text-align: center;
   
  }

  .pricing.guid p {
    font-size: 16px;
    margin-top: -20px;
  }

  /* ===== BUDGET SECTION ===== */
  .budget-row {
    flex-direction: column;
    gap: 20px;
    margin: 0;
  }

  .budget-item {
    width: 100%;
    padding: 16px;
    text-align: center;
  }


  .budget1 {
    justify-content: center;
  
  }

  .a {
    width: 100%;
    max-width: 220px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
  
  }

  .innera {
    font-size: 34px;
  }

  .budget-item h2 {
    font-size: 28px;
    /* margin: 10px 0; */
  }

  .budget-item p {
    font-size: 14px;
    line-height: 1.6;
    /* margin: 6px 0; */
  }

  .budget-item h3 {
    font-size: 15px;
    /* margin: 10px 0; */
  }

  #para {
    font-size: 13px;
    margin: 0;
  }

  /* ===== PHOTO GRID ===== */

  
.studio-marquee {
  background: linear-gradient(90deg, rgb(232, 126, 69), #ebd4a6, rgb(232, 126, 69));
  color: #3b2a1a;
  padding: 18px 0;
  font-size: 22px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  height: 30px;
    line-height: 1px;

  /* border-bottom-left-radius: 50px;
    border-top-left-radius: 50px; */

  /* margin: 30px 40px; */
  /* margin-left: 440px; */
  margin-top: 30px;
  /* border-style: groove; */

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  /* border: 4px solid rgba(255, 255, 255, 0.6); */
  /* border-style:inset; */
  letter-spacing: 1.5px;
}

.studio-marquee span {
  color: #3311c8;
  font-size: 30px;
  /* font-weight: 900; */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}


  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    grid-auto-rows: 180px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .photo-grid img:hover {
    transform: none;
    box-shadow: none;
  }

  /* ===== FOOTER ===== */
  .studio-footer {
    width: 100%;
    text-align: center;
  }
.contact-sidebar {
 
  width: 320px;


}
}
